{% extends "base.html" %}

{% block title %}curvenam.es{% endblock %}
{% block content %}

  <div class="container">
      
      <div class="hero-unit">
        <h3>How to use the web API</h3>
    <p>Example: <a href="http://curvenam.es/lookup?mnemonic=TEST&method=fuzzy&limit=5&maxdist=2">http://curvenam.es/lookup?mnemonic=TEST&method=fuzzy&limit=5&maxdist=2</a></p>
    <ul>
      <li><b>mnemonic</b> can be any string; it will be converted to uppercase so it is case insensitive.</li>
      <li><b>method</b> can be <em>exact</em> (only returns if exact match found), <em>simple</em> (a plain Levenshtein distance implementation), or <em>fuzzy</em> (default, a more sensitive fuzzy search).</li>
      <li><b>format</b> is always JSON.</li>
      <li><b>limit</b> should be set to the integer number of guesses you want, default 1. No maximum. Ignored by the simple method.</li>
      <li><b>maxdist</b> maximum edit distance the guesses are allowed to be from the input.</li>
    </ul>
      <p>This web app is not really supposed to be used on its own. The idea is to use it as a service inside other applications, e.g. a log curve manager, or a mobile phone lookup app.</p>
      </div>

{% endblock %}
