{% extends "base.html" %}

{% block title %}curvenam.es{% endblock %}
{% block content %}


  {% if not result %}
  <header class="jumbotron" id="overview">
    <div class="container">
        <img src="../assets/img/curvenames.png" alt="curvenam.es" />
    </div>
  </header>
  {% endif %}


  <div class="container">
    <div class="hero-unit">
      <form method="post">
        <h3>Find a mnemonic</h3>
        <input type="text" name="mnemonic">
        <br>
        <button type="submit" class="btn btn-primary">
          <i class="icon-search icon-white"></i> Submit
        </button>
      </form>
    </div>
      
      {% if result %}
      <div class="hero-unit">
        <h3>Best guess{% if mnemonic.__len__() > 1 %}es{% endif %} for {{ mnemonic }}</h3>
        <p>
          {% for r in result %}
              <li>{{ r['mnemonic'] }} from {{ r['curve']['company'] }}'s {{ r['curve']['model'] }} {{ r['curve']['method'] }} tool — {{ r['curve']['description'] }}{% if r['curve']['units'] %}, {{ r['curve']['units'] }} units{% endif %}{% if r['curve']['company'] == 'Schlumberger' %} <a href="http://www.apps.slb.com/cmd/ChannelItem.aspx?code={{ r['mnemonic'] }}">(try to find this curve at slb.com)</a>{% endif %}</li>
          {% endfor %}
        </p>
      </div>
      {% endif %}

{% endblock %}
