{% extends "base.html" %}

{% block title %}fuzzyLAS{% endblock %}
{% block content %}


  {% if not result %}
  <header class="jumbotron" id="overview">
    <div class="container">
      <div class="hero-unit">
      <img src="https://dl.dropbox.com/u/14965965/fuzzyLAS_400px.png" alt="fuzzyLAS" />
        <p class="lead">Fuzzy search of wireline log mnemonics</p>
      </div>
    </div>
  </header>
  {% endif %}


  <div class="container">
    <div class="hero-unit">
      <form method="post">
        <h3>Find a mnemonic</h3>
        <input type="text" name="mnemonic">
        <br>
        <button type="submit" class="btn btn-primary">
          <i class="icon-search icon-white"></i> Submit
        </button>
      </form>
    </div>
      
      {% if result %}
      <div class="hero-unit">
        <h3>Best guess{% if result.__len__() > 1 %}es{% endif %} for {{input}}</h3>
		<p>
		  {% for mnemonic in order %}
		    {% for dict in result[mnemonic] %}
		      <li>{{ mnemonic }} from {{ dict['company'] }}'s {{ dict['model'] }} {{ dict['method'] }} tool — {{ dict['description'] }}{% if dict['units'] %}, {{ dict['units'] }} units{% endif %}{% if dict['company'] == 'Schlumberger' %} <a href="http://www.apps.slb.com/cmd/ChannelItem.aspx?code={{ dict['mnemonic'] }}">(read more at slb.com)</a>{% endif %}</li>
		    {% endfor %}  
		  {% endfor %}
		</p>
      </div>
      {% endif %}

{% endblock %}
