<!-- 
This provides the navbar
Not sure how to do this if you need to pass in variables
 -->
<div class="nav-collapse">
<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/lookup">API</a></li>
</ul>
<ul class="nav pull-right">
  <li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  More 
	  <b class="caret"></b>
	  </a>
	<ul class="dropdown-menu">
	  <li><a href="http://subsurfwiki.org/wiki/curvenam.es">More help</a></li>
	  <li><a href="mailto:hello@agilegeoscience.com">Email us</a></li>
	  <li><a href="http://www.agilegeoscience.com/">Visit us</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Version 0.5</a></li>
	  <li><a href="#">Aug 2016</a></li>
	</ul>
  </li>
</ul>
</div><!--/.nav-collapse -->
